
@import "./utils/variables";
@import "./utils/mixins";
html{
    font-family: 'roboto', sans-serif;
}
header{
    display:flex;
    justify-content: center;
        .logo{
            width:$logoWidth;
        }
}
body{
    padding:10px;
    .myBooks{
        text-align: center;            
    }
}

.btn{
    @include btn-params;
       
    &--search {
                 
        background-color:$primaryColor; 
        transition-duration: 0.4s;
    
        &:hover{
            background-color:$primaryColorHover;
        }
    }
    &--cancel {
                 
        background-color:$cancelColor; 
        transition-duration: 0.4s;
        display:none;
    
        &:hover{
            background-color: $cancelColorHover;
        }
    }
}
.AddaBook{
    display: flex;
    justify-content:center;
}

.form{

    flex-direction: column;
    display:none;
    justify-content:left;
    margin-top:20px;
    text-align: left;
    

    .form-group{
        
        input{
            @include input-params;
        }
    }

}
.searchList{
    width:100%;
    display: flex;
    flex-direction: column;
    
    
    &__title{
        display:none;
        flex-direction: column;
        hr{
            width:100%;
        }
    }
    &__books{
        @include card-flex;
        justify-content: center;
        
    }
    &__bookmarks{
        @include card-flex;
        justify-content: center;
        
    }
}

.bookcard{
    @include bookcard-params;
    img{
        width:100%;
    }
}


